* { 
	padding:0;
	margin:0; 
	outline:0; 
}
body {
	background:url(images/fondo.jpg);
}

.notext { 
	font-size:0; 
	line-height:0; 
	text-indent: -4000px; 
	display:block; 
}



h2 span{  /*Cambia Color del texto del titulo*/
	color:#f4d359; 
}

h2, h3, #navigation, #slider-navigation, #footer { 
	font-family: "Trebuchet MS", Arial,sans-serif;
}



.shell { 
	width:980px; 
	margin:0 auto; 
}



#header { /***********************************************Header*********************************************************/
	height:90px;
	width: 100%; 
	background:url(images/header.gif);
	margin-top: 0;
}

header #atras {
	position: absolute;
	top:25px;
	bottom:;
	left:100px;
	right:;
	background-color: #888888; /* Green */
  	border:none;
  	border-radius: 25px;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.4s;
}
header #atras:hover {
	background-color: #C9A72B;
 	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

 	-webkit-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
	-moz-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
	box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
}

main { /***********************************************Main*********************************************************/
	color: #000;
}
main .articles article{
	margin: 5%;
}
main p, main h1 ,main h2, main h3{
	text-decoration:none;
	color:#3D3D3D;
	margin:15px;
	/*line-height: 30px; //****************************************Estudiar el formato del texto**************************************************
	font-size: 20px;*/
	font-family: sans-serif;
	
}

main .articles{
	margin-top: 2%;
	margin-bottom: 3%;
	width: 57%;
	float: center;
	margin-left: auto;
	margin-right: auto;

}
main .articles article h3{
	color:#242424;
}

main .articles article fieldset{
	padding: 20px;
	background: #d9d9d9;
	margin-bottom: 20px;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;

}
.main {
	color: #000;
}

.main .articles article a{
	text-decoration:none;
	color:#242424;
}
.main .articles article a:hover{
	color:#C9A72B;
}

.main p{
	text-decoration:none;
	color:#3D3D3D;
}

.main .articles article{
	padding: 20px;
	background: #CCCCCC;
	margin-bottom: 20px;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;

}

/*****************************************corregir caja de errores***********************************************/
.erroresValidacion{
	/*position: absolute;*/
	margin:20px;
    padding: 20px;
    /*top: 40%;
    /*left: 20%;*/
    font-size: 25px;
    /* color: red; */
}
.erroresValidacion,h4{
	color: red;
}



aside{
	margin-top: 5%;
	margin-bottom: 3%;
	margin-right: 7%;
	margin-left: 1.5%;
	float: right;
	width: 26%;
	background: #CCCCCC;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;
}
aside h3, aside a {
	color: #242424;
	text-decoration:none;
}
aside a:hover {
	color: #C9A72B;
}

footer {
	float: left;
	height:94px;
	width: 100%;
	background:url(images/footer.gif); 
	color:#6d6d6d; 
}
footer img{
	padding-top: 20px;
	float: left;
}
footer .right {
	padding-top: 30px;
	white-space:nowrap;
	font-size:14px; 
	text-align: right;
}

footer .right span{ 
	padding:0 1px;
}

footer .right a{ 
	text-decoration: none; 
	color:#939393;
}

footer .right a:hover{ 
	color:#C9A72B;
}




/*ESTILO FORMULARIO*/

input[type=text], select {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

input[type=submit] {
  	width: 100%;
  	background-color: #888888;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.4s;
}

input[type=submit]:hover {
   	background-color: #333333;
  	color: #C9A72B;
 	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}