* { 
  padding:0;
  margin:0; 
  outline:0; 
}
body {
  background:url(images/fondo.jpg);
}

.notext { 
  font-size:0; 
  line-height:0; 
  text-indent: -4000px; 
  display:block; 
}



h2 span{  /*Cambia Color del texto del titulo*/
  color:#f4d359; 
}

h2, h3, #navigation, #slider-navigation, #footer { 
  font-family: "Trebuchet MS", Arial,sans-serif;
}



.shell { 
  width:980px; 
  margin:0 auto; 
}



#header { /***********************************************Header*********************************************************/
  height:90px;
  width: 100%; 
  background:url(images/header.gif);
  margin-top: 0;
}
header #atras {
  position: absolute;
  top:25px;
  bottom:;
  left:100px;
  right:;
  background-color: #888888; /* Green */
    border:none;
    border-radius: 25px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
}
header #atras:hover {
  background-color: #C9A72B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  -webkit-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
  -moz-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
  box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
}


#navigation { /***********************************************Navigator*********************************************************/
  float:right; 
}

#navigation ul{ 
  float:left; 
  list-style-type: none; 
  padding-top:37px; 
  font-size:14px;
}

#navigation ul li{ 
  float:left; 
  display:inline; height:21px; 
  background:url(images/nav-border.gif) repeat-y right 0; 
  padding:0 20px 0 0; 
  margin-right:20px; 
  position:relative; 
}
#navigation ul li.last{
  background:transparent; 
  padding-right:0; 
  margin-right:0;
 }

#navigation ul li a{ 
  float:left; 
  color:#fff; 
  text-decoration: none;
}


#navigation ul li a em { 
  width:90px; 
  height:20px;
  background:url(images/nav-hover.gif) no-repeat 0 -200px; 
  position:absolute; 
  top:33px; 
  left:-55px;
}
#navigation ul li.last a em { 
  left:-45px;
}

#navigation ul li a span { 
  font-size:0; 
  line-height:0; 
  width:0; 
  height:0; 
  position:absolute; 
  left:50%;
}


#navigation ul li a:hover{ 
  color:#f6cb44;
}


#navigation ul li a:hover em{ 
  background-position:0 0
}

main { /***********************************************Main*********************************************************/
  color: #000;
}
main .articles article{
  margin: 5%;
}
main p, main h1 ,main h2, main h3{
  text-decoration:none;
  color:#3D3D3D;
  margin:15px;
  /*line-height: 30px; //****************************************Estudiar el formato del texto**************************************************
  font-size: 20px;*/
  font-family: sans-serif;
  
}

main .articles{
  margin-top: 2%;
  margin-bottom: 3%;
  float: left;
  margin-left: 34%;
  margin-right: 34%;

}
main .articles article h3{
  color:#242424;
}

main .articles article fieldset{
  padding: 20px;
  background: #CCCCCC;
  margin-bottom: 20px;
  border-radius: 15px;
  border-bottom: 3px #939393 outset;

}
.main {
  color: #000;
}

.main .articles article a{
  text-decoration:none;
  color:#242424;
}
.main .articles article a:hover{
  color:#C9A72B;
}

.main p{
  text-decoration:none;
  color:#3D3D3D;
}

.main .articles article{
  padding: 29px;
  background: #CCCCCC;
  margin-bottom: 20px;
  border-radius: 15px;
  border-bottom: 3px #939393 outset;
  height: 400px;

}
#usuario{
  width: 35%;
  float: left;
  margin-left: 7%;
  margin-right: 1.5%;
}


.button {
  background-color: #888888; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: #333333;
  color: #C9A72B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#modelista{
  width: 35%;
  float: right;
  margin-left: 1.5%;
  margin-right: 7%;
}


footer {
  float: left;
  height:94px;
  width: 100%;
  background:url(images/footer.gif); 
  color:#6d6d6d; 
}
footer img{
  padding-top: 20px;
  float: left;
}
footer .right {
  padding-top: 30px;
  white-space:nowrap;
  font-size:14px; 
  text-align: right;
}

footer .right span{ 
  padding:0 1px;
}

footer .right a{ 
  text-decoration: none; 
  color:#939393;
}

footer .right a:hover{ 
  color:#C9A72B;
}
