* { 
	padding:0;
	margin:0; 
	outline:0; 
}
body {
	background:url(images/fondo.jpg);
}

.notext { 
	font-size:0; 
	line-height:0; 
	text-indent: -4000px; 
	display:block; 
}



h2 span{  /*Cambia Color del texto del titulo*/
	color:#f4d359;
}

h2, h3, #navigation, #slider-navigation, #footer { 
	font-family: "Trebuchet MS", Arial,sans-serif;
}



.shell { 
	width:980px; 
	margin:0 auto; 
}



#header { /***********************************************Header*********************************************************/
	height:90px;
	width: 100%; 
	background:url(images/header.gif);
	margin-top: 0;
}

header #atras {
    position: absolute;
    top: 25px;
    bottom: ;
    left: 100px;
    right: ;
    background-color: #888888;
    border: none;
    border-radius: 25px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
}

header #atras:hover {
	background-color: #C9A72B;
 	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

 	-webkit-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
	-moz-box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
	box-shadow: 0px 0px 8px 3px rgba(201,167,43,0.78);
}


#navigation { /***********************************************Navigator*********************************************************/
	float:right; 
}

#navigation ul{ 
	float:left; 
	list-style-type: none; 
	padding-top:37px; 
	font-size:14px;
}
 
#navigation ul li{ 
	float:left; 
	display:inline; height:21px; 
	background:url(images/nav-border.gif) repeat-y right 0; 
	padding:0 20px 0 0; 
	margin-right:20px; 
	position:relative; 
}
#navigation ul li.last{
	background:transparent; 
	padding-right:0; 
	margin-right:0;
 }

#navigation ul li a{ 
	float:left; 
	color:#fff; 
	text-decoration: none;
}


#navigation ul li a em { 
	width:90px; 
	height:20px;
	background:url(images/nav-hover.gif) no-repeat 0 -200px; 
	position:absolute; 
	top:33px; 
	left:-55px;
}
#navigation ul li.last a em { 
	left:-45px;
}

#navigation ul li a span { 
	font-size:0; 
	line-height:0; 
	width:0; 
	height:0; 
	position:absolute; 
	left:50%;
}


#navigation ul li a:hover{ 
	color:#f6cb44;
}


#navigation ul li a:hover em{ 
	background-position:0 0
}


#slider {  /***********************************************Slider*********************************************************/
	height:298px; 
	background:url(images/slider.gif); 
}


.slides { 
	width:980px; 
	height:298px; 
	position:relative; 
	overflow:hidden; 
	color:#b6b6b6;
 }

.slides .jcarousel-clip { 
	width:980px; 
	height:298px; 
	position:relative; 
	overflow:hidden; 
}

.slides ul { 
	width:980px; 
	height:298px; 
	position:relative; 
	overflow:hidden; 
	list-style-type: none;
}

.slides ul li{ 
	float:left; 
	display:inline; 
	width:980px; 
	height:260px; 
	position:relative; 
	overflow:hidden; 
	padding-top:38px;
}


.slide-info {
	float:left; 
	width:720px; 
	padding-top:20px;
}

.slide-info h2{ 
	padding-bottom:20px;
}

.slide-info p{ 
	padding-bottom:15px;
}

#slider-navigation { 
	height:67px; 
	background:url(images/slider-nav.gif);
}

#slider-navigation ul{ 
	list-style-type: none; 
	position:relative; 
	width:1003px; 
	margin-right:-23px; 
	height:67px;
}

#slider-navigation ul li{ 
	float:left;
 	display:inline; 
	position:relative; 
	margin:-35px 95px -22px 0;
}

#slider-navigation ul li.last{ 
	margin-right:0;
}

#slider-navigation ul li a{ 
	float:left; 
	width:171px; 
	height:79px; 
	background:url(images/slide-button.png) no-repeat 0 0; 
	position:relative; 
	left:-10px; color:#686767; 
	font-size:14px; 
	text-decoration: none; 
	font-weight: bold; 
	padding:45px 0 0 100px;
}

	
#slider-navigation ul li a strong { 
	display:block; 
	font-size:23px; 
	line-height:23px; 
	color:#fff;
}

#slider-navigation ul li a em{ 
	position:absolute; 
	top:43px; 
	left:20px; 
}


#slider-navigation ul li a em.ico1 { 
	width:58px; 
	height:59px; 
	background:url(images/ico1.png); 
	left:28px;
}

#slider-navigation ul li a em.ico2 { 
	width:41px; 
	height:61px; 
	background:url(images/ico2.png); 
	left:36px;
}

#slider-navigation ul li a em.ico3 { 
	width:71px; 
	height:64px; 
	background:url(images/ico3.png)
}


#slider-navigation ul li a.active, #slider-navigation ul li a:hover { 
	background:url(images/slide-button-active.png); 
	color:#a6a6a6; 
}	


#slider-navigation ul li a.active strong, #slider-navigation ul li a:hover strong{ 
	color:#000; 
}



main { /***********************************************Main*********************************************************/
	color: #000;
}
main .articles article{
	margin: 5%;
}
main p, main h1 ,main h2, main h3{
	text-decoration:none;
	color:#3D3D3D;
	margin:15px;
	/*line-height: 30px; //****************************************Estudiar el formato del texto**************************************************
	font-size: 20px;*/
	font-family: sans-serif;
	
}

main .articles{
	margin-top: 2%;
	margin-bottom: 3%;
	width: 57%;
	float: left;
	margin-left: 7%;
	margin-right: 1.5%;

}
main .articles article h3{
	color:#242424;
}

main .articles article fieldset{
	padding: 20px;
	background: #CCCCCC;
	margin-bottom: 20px;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;

}
.main {
	color: #000;
}

.main .articles article a{
	text-decoration:none;
	color:#242424;
}
.main .articles article a:hover{
	color:#C9A72B;
}

.main p{
	text-decoration:none;
	color:#3D3D3D;
}

.main .articles article{
	padding: 20px;
	background: #CCCCCC;
	margin-bottom: 20px;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;

}

.navegadorPagina{
	position: relative;
	left: 10%;
	margin-top: 3%;
}

.current{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color:#C9A72B;
	background:#333333;
	padding-top:9px;
	padding-bottom:9px;
	padding-right:15px;
	padding-left:15px;
	border-radius:50%;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.4s;
  	position: relative;
  	top: 5px;
}


.paginadoo{
	margin:1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-decoration:none; 
	color:white;
	background:#888888;
	padding:1%;
	padding-left:15px;
	border-radius:50%;
	border-bottom: 3px #939393 outset;
	padding-top:9px;
	padding-bottom:9px;
	padding-right:15px;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.4s;
}
.paginadoo:hover{
	color:#C9A72B;
	background:#333333;
	border: 0px;
	position: relative;
  	top: 5px;
}

.button {
	background-color: #888888; /* Green */
  	border: none;
  	border-radius: 5px;
  	color: white;
  	padding: 12px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;

}

.button:hover {
  background-color: #333333;
  color: #C9A72B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




aside{
	margin-top: 5%;
	margin-bottom: 3%;
	margin-right: 7%;
	margin-left: 1.5%;
	float: right;
	width: 26%;
	background: #CCCCCC;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
	border-bottom: 3px #939393 outset;
}
aside h3, aside a {
	color: #242424;
	text-decoration:none;
}
aside a:hover {
	color: #C9A72B;
}


footer {
	float: left;
	height:94px;
	width: 100%;
	background:url(images/footer.gif); 
	color:#6d6d6d; 
}
footer img{
	padding-top: 10px;
	float: left;
}
footer .right {
	padding-top: 30px;
	white-space:nowrap;
	font-size:14px; 
	text-align: right;
}

footer .right span{ 
	padding:0 1px;
}

footer .right a{ 
	text-decoration: none; 
	color:#939393;
}

footer .right a:hover{ 
	color:#C9A72B;
}

.editar_fila{
	float:right;
	margin: 3px;
	background-color: #888888;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.4s;
}

.editar_fila:hover{
	background-color: #333333;
  color: #C9A72B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.paginaMostrada{
    margin-top:2%;
}